@import '../../styles/abstracts/colors';
@import '../../styles/abstracts/variables';

.eventContainer {
	width: 100%;
	background-color: $prim-clr;
	opacity: 0.5;
	padding: $spacing-one;
	border: 1px solid $font-clr;
	position: absolute;
	cursor: pointer;
	transition: all 250ms ease-in-out;

	&:hover {
		/** background-color: $prim-clr; */
		opacity: 0.85;
	}
}
