@import '../../styles/abstracts/colors';
@import '../../styles/abstracts/variables';

.eventContainer {
	background-color: $prim-clr;
	opacity: 0.7;
	padding: 1px $spacing-one;
	border: 1px solid $font-clr;
	position: absolute;
	cursor: pointer;
	transition: all 250ms ease-in-out;
	font-size: calc(1vh + 10px);

	&:hover {
		/** background-color: $prim-clr; */
		opacity: 0.85;
		font-size: 95%;
	}
}
