@import '../../styles/abstracts/colors';
@import '../../styles/abstracts/variables';

.eventContainer {
	width: 100%;
	background-color: #845ec273;
	padding: $spacing-one;
	border: 1px solid $font-clr;
	position: absolute;
}
